[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
[Aa]ssets/**/[Aa]ssetsStoreTools/

.vs/
.idea/
.vscode/
*.user
*.suo
*.userprefs
*.unityprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.csproj
*.sln
*.slnx
*.sln.DotSettings
*.unityproj
*.tmp
*.bak
*.orig
*.log
*.stackdump

[Dd]esktop.ini
Thumbs.db